{template 'common/header'}
<link type="text/css" rel="stylesheet" href="{MODULE_URL}/datil/css/common.css">
<div class="main">
	<form action="" method="post" class="form-horizontal form">
		<h4>系统设置</h4>
		<table class="tb">
					<tr>
				<th>提问消费积分</th>
				<td>
					<label for="radio_1" class="radio inline"><input type="radio" name="data[openwacredit]" id="radio_1" value="1" {if $settings['openwacredit'] == 1} checked{/if} /> 消费</label>
					<label for="radio_0" class="radio inline"><input type="radio" name="data[openwacredit]" id="radio_0" value="0" {if empty($settings['openwacredit']) && $settings['openwacredit'] == 0} checked{/if} /> 不消费</label>
					<span class="help-block">如积分不足将无法提问。</span>
				</td>
			</tr>
			<tr>
				<th>提问所需积分：</th>
				<td>
					<input name="data[wacredit]" type="text" value="{$settings['wacredit']}" class="span5" placeholder=""/>
				</td>
			</tr>
		</table>
			<table class="tb">
				<tr>
					<th></th>
					<td>
						<button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
						<input type="hidden" name="token" value="{$_W['token']}" />
					</td>
				</tr>
			</table>
		
	</form>
</div>
{template 'common/footer'}